@{
    ViewBag.Title = "About Us";
    Layout = "_Layout";
}
<div class="tp-page-head" style="background: url(/images/banner9.jpg); background-size: cover;">
    <!-- page header -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="page-header text-center">
                    <div class="icon-circle">
                        <i class="icon icon-size-60 icon-book icon-white"></i>
                    </div>
                    <h1>About Afriplugz</h1>
                    <p>Learn More information about Afriplugz. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page header -->
<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index")">Home</a>
                    </li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-right">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aboutus">
                            <p class="lead">Afriplugz is a new all-round Event ticketing solution and management platform in Nigeria. 
                            Afriplugz allows you to upload events, manage tickets sales and check-in services at the comfort of any mobile or web accessible device.
                            It provides you with a 100% safe, secure and fast services to sell
                            , buy and check-in tickets with ease. With Afriplugz , no more long queues during check-in and sales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>