@{
    Layout = "_Layout";
    ViewBag.Title = "Unauthorized Access";
}
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-block mb80">
                    <h1 style="font-size: 42pt !important;">NO PERMISSION</h1>
                    <h2><i class="fa fa-warning"></i>Sorry, you do not have the permission to access this page.</h2>
                    <p>Please use navigation above to browse upcoming events, or go back to <a href="@Url.Action("Index")">Home Page.</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>